In [101]:

import sqlite3
import pandas as pd

pd.set_option('display.max_rows', None)

conn = sqlite3.Connection('../backend/data.db')
cur = conn.cursor()

# pd.read_sql("""
#     select article_id, title 
#     from articles 
#     where count > 20
#     order by random()
#     limit 15
# """, conn)

In [1]:

import sqlite3
import pandas as pd

pd.set_option('display.max_rows', None)

conn = sqlite3.Connection('../backend/data.db')
cur = conn.cursor()
# df = pd.read_csv('data/scrape_articles_top5_len40_stride15.csv')
# df = df[~df.clean_title.isna()]
# df[df.clean_title.str.contains('tom c')]

In [1]:

import sqlite3
import pandas as pd

pd.set_option('display.max_rows', None)

conn = sqlite3.Connection('../backend/data.db')
cur = conn.cursor()
# pd.read_sql("""
#     select article_id, count(*)
#     from articles
#     group by article_id
#     order by count(*) desc
#     limit 100
# """, conn)

pd.read_sql("""
    select *
    from chunks
    limit 1
""", conn).iloc[0]['chunk']

# cur.execute("""
# DELETE FROM articles
# WHERE rowid NOT IN (
#   SELECT MIN(rowid)
#   FROM articles
#   GROUP BY article_id
# );""")

# cur.execute("""
# DELETE FROM chunks
# WHERE rowid NOT IN (
#   SELECT MIN(rowid)
#   FROM chunks
#   GROUP BY chunk_id
# );""")

'Anarchism is a political philosophy and movement that is skeptical of all justifications for authority and seeks to abolish the institutions it claims maintain unnecessary coercion and hierarchy, typically including nation-states, and capitalism. Anarchism advocates for the replacement of the'

In [3]:
pd.read_sql("""
    select count(*)
    from chunks
""", conn)

   count(*)
0  52537512

In [ ]:
# distinct article_id 1003432
# distinct chunk_id 82537812

In [7]:
for key, value in selected.items():
    if key.lower().__contains__('tom c'):
        print(key, value)

Tom Conti 29
Tom C. Korologos 1
Tom Clancy 137
Tom Cohen 1
Custom Coaches 2
Alstom Citadis 25
Tom Colicchio 3
Tom Cleverley 4
Tom Coughlin 24
Tom Cora 8
Phantom Corsair 2
Tom Cotton 34
Amiga custom chips 14
Tom Candiotti 8
Tom Collins 8
Tom Coronel 4
Tom Cruise 321
Tom Cochrane 24
Tom C. Clark 39
Atom cluster 2
Tom Connolly (umpire) 2
Tom Curry (rugby union) 3
Tom Cribb 11
Alstom Coradia 5
Tom Clancy's Rainbow Six Siege 18
Tom Crean (basketball) 2
Stompin' Tom Connors 22
Tom Cheney (cartoonist) 2
Black Tom Cassidy 11
Tom Carper 29
Tom Campbell Black 7
Tom Clancy's Splinter Cell Double Agent 1
Tom Clarke (politician) 5
Alstom Coradia LINT 6
Tom Clark (poet) 4
Tom Tom Club 37
Tom Clarke (Irish republican) 26
Tom Courtenay 56
Tom Cavalcante 1
Tom Cairney 3
Tom Crean (explorer) 11
Tom Chavez 1
Tom Constanten 18
Tom Cooper (driver) 2
Tom Chaplin 9
Tom Cartwright 5
Tom Cole (racing driver) 2
Tom Chambers (basketball) 14
Tom Coughlin Jay Fund Foundation 2
Tom Cooper (footballer) 3
Tom Coyne (music engineer) 30
atom cluster 1
Custom Chief's Day 1
Battle of Ware Bottom Church 3
Tom Clancy's The Division 6
Tom Corbett 19
Tom Coburn 24
Tom Chmielewski 1
Phantom Crash 2
Tom Carroll (surfer) 4
Tom Clancy (singer) 3
Tom Compernolle 2
Tom Cahill (playwright) 1
Tom Chatfield 1
Tom Campbell (Australian footballer, born 1991) 1
Tom Chapman 3
Tom Colbj√∏rnsen 2
Tom Cable 3
Tom Cipullo 3
Tom Cavanagh 9
Tom Craddock 2
TIM/TOM Complex 1
Tom Curry (writer) 1
Tom Christian 1
List of Danny Phantom characters 1
Phantom cat 5
Tom Cheney (baseball) 3
The Phantom Creeps 4
Tom Carew 1
Tom Clancy's SSN 3
Jack Ryan (Tom Clancy) 4
Tom Chorske 2
Tom Conway 13
Tom Cherones 5
Tom Clancy's EndWar 10
Tom Clancy's Ghost Recon 10
Tom Clancy's Rainbow Six 13
Tom Clancy's Splinter Cell 14
John Clark (Tom Clancy character) 18
Tom Clancy's Net Force 4
Tom Clancy's Op-Center (novel) 1
Tom Clancy's Op Center (film) 6
Tom Clancy bibliography 1
Tom Clancy's Op-Center 2
Tom Clancy's ruthless.com 1
Tom Clancy's H.A.W.X 1
Tom Clancy's Elite Squad 1
Tom Cheek 11
Tom Clements (politician) 1
Tom Clancy's Rainbow Six: Critical Hour 1
Tom Clancy's Rainbow Six: Vegas 1
Tom Clancy's Rainbow Six (video game) 10
Dave Vanian and the Phantom Chords 1
Tom Cruise filmography 3
List of awards and nominations received by Tom Cruise 3
Tom Cruise: Unauthorized 1
Tom Cruise: All the World's a Stage 1
Tom Cruise: An Unauthorized Biography 4
Tom Cruise Purple 1
Tom Coughlin (Walmart executive) 1
Phantom circuit 3
Tom Carnegie 2
Tom Clancy Point of Contact 1
Tom Coppola 2
phantom circuit 4
Tom Clancy's Jack Ryan (TV series) 1
custom car 9
Tom Cargill 1
Tom Cothran 1
phantom cat 3
Tom Cat 14
Tom Catalano 4
Tom Corbett, Space Cadet 8
Tom Corbett, Space Cadet (TV-series) 1
Tom Chapin 11
Tom Cave 2
Tom Clancy's Rainbow Six: Rogue Spear 3
Tom Clancy's Rainbow Six: Shadow Vanguard 1
Waco Custom Cabin series 4
Tom Chadbon 5
Tom Christian (actor) 1
Oldsmobile Custom Cruiser 7
Tom Chantrell 5
Haltom City, Texas 13
Tom Connally 10
Tom Cole 10
Alstom Coradia Lint 3
Tom Collins (politician) 1
Tom Cudahy 1
Tom Copley 2
Tom Chambers (actor) 2
Tom Costello (jockey) 3
Tom Cushing 1
Tom Cullen 3
Tom Clancy/Special Forces 1
Tom Costello (music hall) 1
Tom Canty 5
Tom Chaloner 2
Tom Cannon, Sr. 5
Tom Cannon Sr. 1
Tom Chiarella 3
Tom Cousins 3
Tom Cross (film editor) 3
Tom Cottrell 3
Tom Cox (British politician) 1
Tom Cochrane and Red Rider 1
Tom Curley 1
Tom Courtney 1
The Red Baron (custom car) 1
Tom Clancy's Ghost Recon 2 1
Tom Clancy's Rainbow Six: Lockdown 1
Tom Clancy's Ghost Recon Advanced Warfighter 3
Tom Clancy's Ghost Recon Advanced Warfighter 2 2
Tom Clancy's Splinter Cell: Chaos Theory 10
Tom Clancy's Splinter Cell: Conviction 5
Tom Chase 1
TIM/TOM complex 1
Tom Carroll (Australian footballer) 1
Bottom Creek, West Virginia 3
Tom Christiansen 1
Tom Corwin, Ohio 1
Tom Connolly (Maine politician) 1
Tom Candy Ponting 2
Tom Cullen (Irish republican) 2
Tom Capella 1
Long Tom Conservation Area 1
Tom Clancy's Endwar 1
Tom Calvin 1
Tom Childs 2
Betty Tom Chu 2
Tom Craft 1
Tom Chino 1
Tom Curren 3
Tom Clements (public official) 1
Tom Cichowski 2
Tom Cole (writer) 1
Tom Carvel 6
Tom Cullerton 1
Tom Cross (politician) 3
Tom Christerson 1
Tom Chappell 3
Tom Cordes 1
Tom Compton 1
Tom Carlson 1
Tom Corcoran (skier) 1
Tom Cudworth 1
Tom Cornell 1
Tom Creavy 3
Tom Casey (Canadian football) 4
Tom Cousineau 2
Tom Crabtree 1
Tom Curtis (American football) 1
Fedex Custom Critical 1
Tom Clements 10
Tom Clancy's Ghost Recon (2001 video game) 5
Tom Clancy's Rainbow Six 3: Raven Shield 2
Tom Clancy's Rainbow Six Extraction 2
Tom Clancy's Ghost Recon: Future Soldier 1
Hop Bottom Creek 1
Tom Caskey 1
Tom Collins (producer) 1
Tom C. Clark High School 2
Custom Coasters International 4
Meems Bottom Covered Bridge 1
Tom Clark (sports executive) 2
Tom Chrystie 1
Alstom Citadis Spirit 2
Tom Choi 2
Tom Clonan 2
Tom Clancy's Ghost Recon Breakpoint 1
Tom Coster 5
Tom Create 3
Tom Clancy's Splinter Cell: Pandora Tomorrow 7
Tom Craddick 2
Alexander Tom Cussons 1
Tom Campbell (California politician) 6
Tom Crick 3
Tom Clay 3
Tom Casten 1
Tom Chatto 5
Tom Carrington (illustrator) 2
Tom Curry (footballer) 4
Tom Tom Club (album) 3
Close to the Bone (Tom Tom Club album) 1
Tom Cochrane &amp; Red Rider 1
Madame Bhikaji Rustom Cama 1
Waco Custom Cabin Series 1
Tom Clegg (actor) 1
Tom Crib's Memorial to Congress 1
Tom Coakley 1
Custom car 6
Tom Collier (musician) 3
Tom Corcoran (writer) 1
Tom Costello (journalist) 1
Tom Carolan 2
The Phantom Carriage 10
Tom Clancy's Jack Ryan 1
Tom Cusick 1
Tom Clough 6
Tom Cato Karlsen 4
Tom Clegg (director) 2
Tom Cowie 3
The Phantom City 1
Tom Chivers 1
Symptom Checklist 90 1
Tom Corson 1
Ketchup Song (Stompin' Tom Connors song) 1
Tom Chilton 3
Stompin‚Äô Tom Connors 1
Tom Clancy's Splinter Cell: Double Agent 3
Tom Carlon 1
Bell Bottom Country 4
Tom Cat (album) 3
Tom Cat (band) 1
Tom C. Brown 1
Tom Cannon (footballer) 2
Tom Cavanagh (ice hockey) 1
Tom Clare (singer) 1
Tom Collings 1
Jack Ryan (Tom Clancy character) 1
Tom Cringle's Log 1
Tom Campbell (Canadian politician) 1
Tom Cotter (comedian) 1
Tom Corsi 1
Aby Tom Cyriac 1
Tom Clark and the High Action Boys 1
Tom Campbell (American football player) 1
Tom Clancy's Ghost Recon: Wildlands 1
Tom Clancy's Ghost Recon: Desert Siege 1
Tom Clancy's Ghost Recon: Island Thunder 1
Tom Clancy's Ghost Recon: Jungle Storm 1
Tom Clancy's Net Force Explorers 1
Tom Cowan 2
Tom Chambers (trade unionist) 1
Tom Clancy (Canadian football) 1
Tom Clapp 2
Tom Clark (journalist) 2
Tom Clancy's Splinter Cell (video game) 10
Tom Clancy's Splinter Cell: Blacklist 4
de:Tom Clancy‚Äôs Splinter Cell 1
hr:Tom Clancy's Splinter Cell 1
Tom Clancy's Splinter Cell: Essentials 1
Tom Cowan (filmmaker) 1
Alstom Coradia Continental 4
Tom Clifford (politician) 1
Tom Canada 1
Tom Condon 2
Tom Caron 1
Tom Catena 1
Tom Clancy's Rainbow Six: Vegas 2 2
Ramsbottom carbon residue 1
Tom Cooper (cyclist) 2
Tom Coleman (Missouri politician) 2
Tom Chester 1
Tom Chalmers (politician) 1
Tom Crewe 1
Tom Coyne (broadcaster) 2
Tom Cooper (baseball) 1
Tom Cooper (cricketer) 1
Tom Cooper (rugby union) 1
Tom Cahill (American football) 2
Tom Chaney 1
Tom Crumbie 1
Tom Croft 2
Tom Cohen (Cultural Theorist) 1
Tom Cohen (cultural theorist) 1
Tom Clarke (footballer, born 1987) 1
Tom Cowan (rugby union) 1
Tom Carr-Smith 1
Tom Clines 1
Rowbottom cardinal 1
Tom Corcoran (politician) 1
Tom Cox (highwayman) 1
Tom Cue 2
Marquis (custom car) 1
Tom Colbert 1
Tom Cassese 1
Bottom crawler 1
Tom Cannon (boxer) 1
Tom Cone 1
Tom Chambers (politician) 1
Tom Crooke 1
Tom Conroy (rugby league) 1
Tom Cain (author) 1

In [1]:
with open("data/links.txt", "r", encoding="utf-8", errors="replace") as f:
    lines = [line.rstrip("\n") for line in f]

In [4]:
[x for x in lines if x.lower().__contains__('tom cr')][: 10]

['Tom Cruise',
 'Tom Cruise',
 'Tom Cribb',
 'Tom Crean (basketball)|Tom Crean',
 'Tom Cruise',
 'Tom Cruise',
 'Tom Cruise',
 'Tom Cruise',
 'Tom Cruise',
 'Tom Cruise']

In [13]:
import sqlite3
import pandas as pd

pd.set_option('display.max_rows', None)

conn = sqlite3.Connection('../backend/data.db')

pd.read_sql("""
    select *
    from articles
    where title like 'planet%'
    order by title desc
""", conn)

,article_id,title,clean_title,url,count
0,87916,Planets in science fiction,planets in science fiction,https://en.wikipedia.org/wiki/Planets%20in%20s...,14
1,30872816,Planets in astrology,planets in astrology,https://en.wikipedia.org/wiki/Planets%20in%20a...,20
2,192500,Planetesimal,planetesimal,https://en.wikipedia.org/wiki/Planetesimal,47
3,564990,Planetes,planetes,https://en.wikipedia.org/wiki/Planetes,9
4,26903467,Planetary-mass object,planetary-mass object,https://en.wikipedia.org/wiki/Planetary-mass%2...,9
5,27361858,Planetary-mass moon,planetary-mass moon,https://en.wikipedia.org/wiki/Planetary-mass%2...,11
6,252372,Planetary system,planetary system,https://en.wikipedia.org/wiki/Planetary%20system,66
7,34661457,Planetary surface,planetary surface,https://en.wikipedia.org/wiki/Planetary%20surface,12
8,36224143,Planetary science,planetary science,https://en.wikipedia.org/wiki/Planetary%20science,47
9,1162325,Planetary romance,planetary romance,https://en.wikipedia.org/wiki/Planetary%20romance,13
10,1612742,Planetary protection,planetary protection,https://en.wikipedia.org/wiki/Planetary%20prot...,8
11,1434249,Planetary migration,planetary migration,https://en.wikipedia.org/wiki/Planetary%20migr...,8
12,1470111,Planetary hours,planetary hours,https://en.wikipedia.org/wiki/Planetary%20hours,6
13,2592906,Planetary habitability,planetary habitability,https://en.wikipedia.org/wiki/Planetary%20habi...,48
14,1109114,Planetary geology,planetary geology,https://en.wikipedia.org/wiki/Planetary%20geology,11
15,12903521,Planetary flyby,planetary flyby,https://en.wikipedia.org/wiki/Planetary%20flyby,13
16,1038273,Planetary engineering,planetary engineering,https://en.wikipedia.org/wiki/Planetary%20engi...,6
17,254452,Planetary differentiation,planetary differentiation,https://en.wikipedia.org/wiki/Planetary%20diff...,21
18,24458151,Planetary boundaries,planetary boundaries,https://en.wikipedia.org/wiki/Planetary%20boun...,9
19,27444270,Planetary and Space Science,planetary and space science,https://en.wikipedia.org/wiki/Planetary%20and%...,13
20,25324761,Planetary Science Institute,planetary science institute,https://en.wikipedia.org/wiki/Planetary%20Scie...,5
21,31117122,Planetary Science Decadal Survey,planetary science decadal survey,https://en.wikipedia.org/wiki/Planetary%20Scie...,10
22,7426352,Planetary Data System,planetary data system,https://en.wikipedia.org/wiki/Planetary%20Data...,14
23,385089,Planetary (comics),planetary (comics),https://en.wikipedia.org/wiki/Planetary%20%28c...,9
24,3810997,Planetarium projector,planetarium projector,https://en.wikipedia.org/wiki/Planetarium%20pr...,6
25,60548,Planetarium,planetarium,https://en.wikipedia.org/wiki/Planetarium,89
26,10890853,Planeta DeAgostini,planeta deagostini,https://en.wikipedia.org/wiki/Planeta%20DeAgos...,10
27,161623,PlanetMath,planetmath,https://en.wikipedia.org/wiki/PlanetMath,14
28,1429629,Planet of the Spiders,planet of the spiders,https://en.wikipedia.org/wiki/Planet%20of%20th...,7
29,61743730,Planet of the Humans,planet of the humans,https://en.wikipedia.org/wiki/Planet%20of%20th...,5
30,18419372,Planet of the Dead,planet of the dead,https://en.wikipedia.org/wiki/Planet%20of%20th...,7
31,215316,Planet of the Apes (novel),planet of the apes (novel),https://en.wikipedia.org/wiki/Planet%20of%20th...,15
32,2045011,Planet of the Apes (TV series),planet of the apes (tv series),https://en.wikipedia.org/wiki/Planet%20of%20th...,14
33,20181491,Planet of the Apes (2001 film),planet of the apes (2001 film),https://en.wikipedia.org/wiki/Planet%20of%20th...,35
34,18618306,Planet of the Apes (1968 film),planet of the apes (1968 film),https://en.wikipedia.org/wiki/Planet%20of%20th...,84
35,24404702,Planet of the Apes,planet of the apes,https://en.wikipedia.org/wiki/Planet%20of%20th...,35
36,425872,Planet of Exile,planet of exile,https://en.wikipedia.org/wiki/Planet%20of%20Exile,11
37,1562079,Planet X (band),planet x (band),https://en.wikipedia.org/wiki/Planet%20X%20%28...,9
38,4396362,Planet X (Star Trek),planet x (star trek),https://en.wikipedia.org/wiki/Planet%20X%20%28...,7
39,1592583,Planet Waves,planet waves,https://en.wikipedia.org/wiki/Planet%20Waves,7
40,2001788,Planet Us,planet us,https://en.wikipedia.org/wiki/Planet%20Us,6
41,8586622,Planet Terror,planet terror,https://en.wikipedia.org/wiki/Planet%20Terror,14
42,1162294,Planet Stories,planet stories,https://en.wikipedia.org/wiki/Planet%20Stories,22
43,25223956,Planet Snoopy,planet snoopy,https://en.wikipedia.org/wiki/Planet%20Snoopy,7
44,9410972,Planet Simpson,planet simpson,https://en.wikipedia.org/wiki/Planet%20Simpson,18
45,23174900,Planet Sheen,planet sheen,https://en.wikipedia.org/wiki/Planet%20Sheen,8
46,10376372,Planet Rock (song),planet rock (song),https://en.wikipedia.org/wiki/Planet%20Rock%20...,26
47,7003694,Planet Rock (radio station),planet rock (radio station),https://en.wikipedia.org/wiki/Planet%20Rock%20...,41
48,21904965,Planet Money,planet money,https://en.wikipedia.org/wiki/Planet%20Money,12
49,41200593,Planet Labs,planet labs,https://en.wikipedia.org/wiki/Planet%20Labs,6
50,1606566,Planet Hollywood Las Vegas,planet hollywood las vegas,https://en.wikipedia.org/wiki/Planet%20Hollywo...,7
51,1072362,Planet Hollywood,planet hollywood,https://en.wikipedia.org/wiki/Planet%20Hollywood,20
52,3825197,Planet Earth (Duran Duran song),planet earth (duran duran song),https://en.wikipedia.org/wiki/Planet%20Earth%2...,10
53,4039424,Planet Earth (2006 TV series),planet earth (2006 tv series),https://en.wikipedia.org/wiki/Planet%20Earth%2...,16
54,14197857,Planet Drum,planet drum,https://en.wikipedia.org/wiki/Planet%20Drum,6
55,16721631,Planet Claire,planet claire,https://en.wikipedia.org/wiki/Planet%20Claire,6
56,2178655,Planet Caravan,planet caravan,https://en.wikipedia.org/wiki/Planet%20Caravan,9
57,4029962,Planet Asia,planet asia,https://en.wikipedia.org/wiki/Planet%20Asia,10
58,36888839,Planet 9 (record label),planet 9 (record label),https://en.wikipedia.org/wiki/Planet%209%20%28...,6
59,14478278,Planet 51,planet 51,https://en.wikipedia.org/wiki/Planet%2051,6
60,2271795,Planet (locomotive),planet (locomotive),https://en.wikipedia.org/wiki/Planet%20%28loco...,5

In [6]:
import json

js = []
with open('../backend/ai_targets.jsonl', 'r') as file:
    for i, line in enumerate(file):
        if line.strip() == '':
            continue
        print(line.strip())
        j = json.loads(line.strip())
        j['day'] = i + 1
        del(j['count'])
        js.append(j)

with open('../backend/targets.jsonl', 'w', encoding='utf-8') as file:
    for j in js:
        file.write(json.dumps(j) + '\n')

{"article_id": 18717883, "count": -1}
{"article_id": 178690, "count": -1}
{"article_id": 36536119, "count": -1}
{"article_id": 991, "count": -1}
{"article_id": 39626432, "count": -1}
{"article_id": 463734, "count": -1}
{"article_id": 42898, "count": -1}
{"article_id": 4068, "count": -1}
{"article_id": 191280, "count": -1}
{"article_id": 163115, "count": -1}
{"article_id": 44940, "count": -1}
{"article_id": 87219, "count": -1}
{"article_id": 3254510, "count": -1}
{"article_id": 62092, "count": -1}
{"article_id": 371248, "count": -1}
{"article_id": 1776, "count": -1}
{"article_id": 210560, "count": -1}
{"article_id": 265554, "count": -1}
{"article_id": 23545010, "count": -1}
{"article_id": 52135, "count": -1}
{"article_id": 48146, "count": -1}
{"article_id": 158548, "count": -1}
{"article_id": 2541904, "count": -1}

In [144]:
import sqlite3
from dotenv import load_dotenv
from openai import OpenAI
import os 
import pandas as pd
load_dotenv()

client = OpenAI(api_key=os.environ.get('OPENAI_API_KEY'))
DB_PATH = '../backend/data.db'

conn = sqlite3.Connection(DB_PATH)
cur = conn.cursor()
# cur.execute("""
#     select chunk
#     from chunks
#     where article_id == ?
# """, (19017269,))
# chunks = ' '.join([x[0] for x in cur.fetchall()]).split()

pd.read_sql("""
    select *
    from articles 
    where count > 60
    order by random()
    limit 10
""", conn)

# pd.read_sql("select * from articles where title like '%seinfeld%' order by count desc""", conn)

# cur.fetchall()

,article_id,title,clean_title,url,count
0,408362,American Music Awards,american music awards,https://en.wikipedia.org/wiki/American%20Music...,146
1,4721,British Empire,british empire,https://en.wikipedia.org/wiki/British%20Empire,1920
2,64485,New Spain,new spain,https://en.wikipedia.org/wiki/New%20Spain,518
3,50556,James IV of Scotland,james iv of scotland,https://en.wikipedia.org/wiki/James%20IV%20of%...,148
4,72297,Lebensraum,lebensraum,https://en.wikipedia.org/wiki/Lebensraum,97
5,129195,Alnwick,alnwick,https://en.wikipedia.org/wiki/Alnwick,61
6,1181466,Treccani,treccani,https://en.wikipedia.org/wiki/Treccani,64
7,1007676,The Dean Martin Show,the dean martin show,https://en.wikipedia.org/wiki/The%20Dean%20Mar...,68
8,310824,Marshal of France,marshal of france,https://en.wikipedia.org/wiki/Marshal%20of%20F...,242
9,180466,EasyJet,easyjet,https://en.wikipedia.org/wiki/EasyJet,137

In [ ]:
x = """
"""

ids = []
for line in x.split('\n'):
    article_id, title = line.strip().split(maxsplit=1)
    article_id = article_id.strip()
    ids.append(article_id)

import random 

while ids:
    id = random.choice(ids)
    ids.remove(id)
    print('{' + f'"article_id": {id}, "count": -1' + '}')

{"article_id": 39626432, "count": -1}
{"article_id": 463734, "count": -1}
{"article_id": 42898, "count": -1}
{"article_id": 4068, "count": -1}
{"article_id": 191280, "count": -1}
{"article_id": 163115, "count": -1}
{"article_id": 44940, "count": -1}
{"article_id": 87219, "count": -1}
{"article_id": 3254510, "count": -1}
{"article_id": 62092, "count": -1}
{"article_id": 371248, "count": -1}
{"article_id": 1776, "count": -1}
{"article_id": 210560, "count": -1}
{"article_id": 265554, "count": -1}
{"article_id": 23545010, "count": -1}
{"article_id": 52135, "count": -1}
{"article_id": 48146, "count": -1}
{"article_id": 158548, "count": -1}
{"article_id": 2541904, "count": -1}
{"article_id": 100627, "count": -1}
{"article_id": 295855, "count": -1}
{"article_id": 5261, "count": -1}
{"article_id": 3969, "count": -1}
{"article_id": 72890, "count": -1}
{"article_id": 47700, "count": -1}
{"article_id": 45772, "count": -1}
{"article_id": 145804, "count": -1}
{"article_id": 980865, "count": -1}
{"article_id": 82061, "count": -1}
{"article_id": 143912, "count": -1}
{"article_id": 31329803, "count": -1}
{"article_id": 189322, "count": -1}
{"article_id": 19156272, "count": -1}
{"article_id": 586015, "count": -1}
{"article_id": 18717883, "count": -1}
{"article_id": 178690, "count": -1}
{"article_id": 36536119, "count": -1}
{"article_id": 991, "count": -1}

In [3]:
import sqlite3
import numpy as np
from dotenv import load_dotenv
from openai import OpenAI
import os 

load_dotenv()

client = OpenAI(api_key=os.environ.get('OPENAI_API_KEY'))
DB_PATH = 'data/data.db'

def get_daily_word_vector_live(daily_word: int):
    conn = sqlite3.Connection(DB_PATH)
    cur = conn.cursor()
    cur.execute("""
        select chunk
        from chunks
        where article_id == ?
    """, (daily_word,))
    chunks = [x[0] for x in cur.fetchall()]
    result = client.embeddings.create(
        input=chunks,
        model="text-embedding-3-small"
    )
    return np.array([np.array(x.embedding) for x in result.data]).mean(axis=0)

In [5]:
get_daily_word_vector_live(71329952).shape

(1536,)

In [15]:
import sqlite3
import numpy as np

conn = sqlite3.Connection('data/data.db')
cur = conn.cursor()
# cur.execute("""
#     select a.title, c.chunk
#     from embeddings e
#     join articles a
#         using (article_id)
#     join chunks c
#         using (chunk_id)
#     where e.id == ?
# """, (167680,))
cur.execute("""
    select chunk_id, count(*)
    from chunks
    group by chunk_id
    order by count(*) desc
    limit 5
""")
for row in cur.fetchall():
    print(row)
conn.close()

(0, 2)
(1, 2)
(2, 2)
(3, 2)
(4, 2)

In [1]:
import sqlite3
import numpy as np

conn = sqlite3.Connection('data/data.db')
cur = conn.cursor()
cur.execute("""
    select *
    from articles
    where article_id == ?
""", (19017269,))
cur.fetchall()

[(19017269,
  'World population',
  'world population',
  'https://en.wikipedia.org/wiki/World%20population',
  67)]

In [122]:
conn = sqlite3.Connection('data/data.db')
cur = conn.cursor()

article_id = 44579187

cur.execute("""
    select e.vector, e.chunk_id, c.chunk
    from (
        select vector, chunk_id 
        from embeddings
        where article_id == ?
    ) as e
    join (
        select chunk_id, chunk
        from chunks
        where article_id == ?
    ) as c
        using (chunk_id)
""", (article_id, article_id))

guess = cur.fetchall()
guess_matrix = np.array([np.frombuffer(row[0]) for row in guess])

(159563,
 'both old and new anime titles both on home video and theatrically, aided by the Scotland Loves Anime film festival. From 2015 to 2018, Anime Limited served as the distributors for Funimation in the British Isles. History On 14 December 2012, Kaz√© UK representative and Scotland Loves Anime director Andrew Partridge launched the social media and website for Anime Limited, and stated that he would be launching a new anime distribution company in 2013, with',
 0.7591181392379761)

In [ ]:
numerator = guess_matrix @ target
denominator_rhs = np.sqrt(np.sum(target ** 2)) 
denominator_lhs = np.sqrt(np.sum(guess_matrix ** 2, axis=1))
denominator = denominator_lhs * denominator_rhs
distances = 1 - (numerator / denominator)
indices = np.argsort(distances)

[(guess[i][1], guess[i][2], distances[i]) for i in indices][: limit]

array([0.79301268, 0.75911814, 0.77018558, 0.78948745, 0.80729594,
       0.84301049, 0.84762888, 0.82576959, 0.82698408, 0.82828016,
       0.79397142, 0.77697281])

In [ ]:
import time

times = []

for _ in range(10000):
    start = time.time()
    numerator = guess @ target
    denominator_rhs = np.sqrt(np.sum(target ** 2)) 
    denominator_lhs = np.sqrt(np.sum(guess ** 2, axis=1))
    denominator = denominator_lhs * denominator_rhs
    distance = 1 - (numerator / denominator)
    times.append((time.time() - start) * 10000)
np.mean(times)

0.5156283378601074

In [101]:
from scipy.spatial.distance import cosine

times = []

for _ in range(10000):
    start = time.time()
    brute = []
    for i in range(12):
        brute.append(cosine(target, guess[i, :]))
    brute = np.array(brute)
    times.append((time.time() - start) * 10000)
np.mean(times)

2.6936564445495605

In [ ]:
import pandas as pd

first = True
for chunk in pd.read_csv('data/chunks_high_len.csv', chunksize=10000):
    if first:
        c = chunk.drop('chunk', axis=1)
        first = False
        continue
    c = pd.concat([chunk.drop('chunk', axis=1), c], axis=0)

In [6]:
import os
import pandas as pd 

a = pd.read_parquet('data/articles.parquet')

In [1]:
import pandas as pd
import sqlite3 
import json 

DB_PATH = '../backend/data.db'

conn = sqlite3.Connection(DB_PATH)