In [8]:
import sqlite3

conn = sqlite3.Connection('data/data.db')
cur = conn.cursor()

# cur.execute('select * from articles limit 2')
cur.execute('PRAGMA table_info(articles)')

cur.fetchall()

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'url', 'TEXT', 0, None, 0),
 (2, 'title', 'TEXT', 0, None, 0),
 (3, 'clean_title', 'TEXT', 0, None, 0),
 (4, 'count', 'INTEGER', 0, None, 0)]

In [1]:
import json
import pandas as pd

df = []
with open('data/embeddings.jsonl', 'r') as file:
    for line in file:
        df.append(json.loads(line))
df = pd.DataFrame(df)

In [2]:
df

           id                                          embedding
0     3529094  [-0.004664379637688398, -0.0426100455224514, 0...
1     3529252  [-0.006281876936554909, -0.008619319647550583,...
2     3529302  [-0.019519152119755745, -0.033772557973861694,...
3     3529337  [-0.015639616176486015, -0.003205843036994338,...
4     3529365  [0.03846396133303642, -0.022736381739377975, 0...
...       ...                                                ...
9995  3809589  [-0.024110419675707817, -0.0011983130825683475...
9996  3809767  [-0.029099317267537117, 0.03158048540353775, -...
9997  3809808  [0.03068152628839016, 0.04783761128783226, 0.0...
9998  3809846  [-0.09691222012042999, -0.005082827061414719, ...
9999  3809855  [-0.02249404601752758, 0.022808795794844627, 0...

[10000 rows x 2 columns]

In [1]:
# import json
# import sqlite3
# import os 

# FROM_DIR = 'transformed'

# conn = sqlite3.Connection('data/data.db')
# cur = conn.cursor()

# create_embeddings = """
#     CREATE TABLE embeddings (
#         id INTEGER PRIMARY KEY,         
#         vector TEXT              
#     );
# """
# cur.execute(create_embeddings)
# conn.commit()

# insert_embeddings = """
#     INSERT INTO embeddings (id, vector) VALUES (?, ?);
# """

#     with open(os.path.join(FROM_DIR, file_name), 'rt') as file:
        
#             cur.execute(
#                 insert_embeddings, 
#                 (
#                     j['id'], 
#                     json.dumps(j['embedding'])
#                 )
#             )
#             conn.commit()

In [2]:
import json
import sqlite3
import os 
import pandas as pd

FROM_DIR = 'source'

conn = sqlite3.Connection('data/data.db')
cur = conn.cursor()

create_articles = """
    CREATE TABLE articles (
        id INTEGER PRIMARY KEY,         
        url TEXT,
        title TEXT,
        clean_title TEXT,
        count INTEGER
    );
"""
cur.execute(create_articles)
conn.commit()

insert_articles = """
    INSERT INTO articles (id, url, title, clean_title, count) VALUES (?, ?, ?, ?, ?);
"""

buffer = []
with open('../transformed/data/selected_articles.jsonl', 'r', encoding='utf-8') as file:
    for line in file:
        j = json.loads(line)
        buffer.append(
            (j['id'], j['url'], j['title'], j['title'].lower().strip(), j['count'])
        )
        if len(buffer) > 10000:
            print("Writing buffer.")
            cur.executemany(
                insert_articles,
                buffer
            )
            conn.commit()
            buffer = []

Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.
Writing buffer.

In [ ]:
import json
import sqlite3
import os 
import pandas as pd

conn = sqlite3.Connection('data/data.db')
cur = conn.cursor()

index1 = """
    CREATE INDEX articles_title_index ON articles(title);
"""

index2 = """
    CREATE INDEX articles_clean_title_index ON articles(clean_title);
"""

index3 = """
    CREATE INDEX articles_url_index ON articles(url);
"""

index4 = """
    CREATE INDEX articles_count_index ON articles(count);
"""

index5 = """
    CREATE INDEX idx_articles_clean_title_count ON articles(clean_title, count DESC);
"""

cur.execute(index1)
cur.execute(index2)
cur.execute(index3)
cur.execute(index4)
cur.execute(index5)

conn.commit()

Test execution speed.

In [1]:
# import time
# import sqlite3

# conn = sqlite3.Connection('data/data.db')
# cur = conn.cursor()

# query = "indiana j"

# # This is messed up but somehow this optimizes the query plan.
# if len(query) > 2:
#     cur.execute("PRAGMA case_sensitive_like = ON")
#     conn.commit()
# else: 
#     cur.execute("PRAGMA case_sensitive_like = OFF")
#     conn.commit()

# start = time.time()
# for _ in range(1000):
#     cur.execute(f"""
#         select id, title, count 
#         from articles 
#         where clean_title like '{query}%' 
#         order by count desc limit 5""")
#     if _ == 0:
#         for r in cur.fetchall():
#             print(r)

# print(time.time() - start)