In [28]:
import pandas as pd

df = pd.read_csv('master_season1-35.tsv', sep='\t')

In [29]:
df.columns = [x.strip() for x in df.columns]

In [33]:
df['year'] = df['air_date'].apply(lambda x: int(x[: 4]))

In [34]:
df = df[df.year > 2015]

In [37]:
df.sample()

,round,value,daily_double,category,comments,answer,question,air_date,notes,year
329060,1,1000,no,TV REBOOTS & REVIVALS,-,Original star Tori Spelling was also in the 20...,"Mother, May I Sleep With Danger?",2017-12-13,-,2017

In [42]:
df[df.daily_double == "yes"].groupby('category').size().sort_values(ascending=False).head(20)

category
AMERICAN HISTORY         8
WORLD HISTORY            8
ORGANIZATIONS            7
NONFICTION               7
ART & ARTISTS            6
EUROPEAN HISTORY         5
WORD ORIGINS             5
BODIES OF WATER          5
EPONYMS                  4
GOVERNMENT & POLITICS    4
WORLD CAPITALS           4
LIT-POURRI               4
AWARDS & HONORS          4
TRANSPORTATION           4
SCIENCE                  4
COMMUNICATION            4
EXPLORERS                4
GEOGRAPHY                3
MYTHOLOGY                3
RELIGION                 3
dtype: int64

In [56]:
common_categories = df.groupby('category').size()
common_categories = common_categories[common_categories > 6].index
common_categories

Index(['-ISMS & -OLOGIES', '-OLOGIES', '10-LETTER WORDS', '11-LETTER WORDS',
       '12-LETTER WORDS', '13-LETTER WORDS', '14-LETTER WORDS',
       '15-LETTER WORDS', '1960s AMERICA', '19th CENTURY AMERICA',
       ...
       '\"F"IVE-LETTER WORDS', '\"IN" THE DICTIONARY', '\"J"EOGRAPHY',
       '\"M"TERTAINMENT', '\"O"POURRI', '\"S" WORDS', '\"V"ACATION SPOTS',
       '\"V"OCABULARY', '\'90s MUSIC', '____ & ____'],
      dtype='object', name='category', length=642)

In [57]:

df[(df.daily_double == "no") & (df.category.isin(common_categories))].groupby('category').value.mean().sort_values(ascending=False).head(20)

category
NEW WORDS IN THE MERRIAM-WEBSTER DICTIONARY    1400.000000
3 LITTLE WORDS                                 1400.000000
15-LETTER WORDS                                1350.000000
ART FOR ART'S SAKE                             1314.285714
ENDS IN "FF\"                                  1300.000000
MUSICIANS' MEMOIRS                             1300.000000
THEY COME IN PAIRS                             1300.000000
RELIGIOUS MATTERS                              1300.000000
U.S. MUSEUMS                                   1288.888889
OXYMORONS                                      1288.888889
1960s AMERICA                                  1257.142857
PEOPLE IN HISTORY                              1250.000000
ROADS SCHOLAR                                  1250.000000
AROUND THE PACIFIC                             1250.000000
PSYCHOLOGY                                     1250.000000
POP CULTURE DOUBLE TALK                        1250.000000
\"O"POURRI                                     1250.000000
U.S. FIRSTS                                    1244.444444
SCIENCE NEWS                                   1244.444444
AFRICAN-AMERICAN HISTORY                       1244.444444
Name: value, dtype: float64

In [27]:
df.groupby('Value').size().sort_values().tail(20)

Value
$5,000      231
$2,500      232
$1,600      239
$4,000      349
$1,200      441
$1,500      546
$3,000      769
$2,000     1586
$1,000     2101
$300       8663
$500       9016
$100       9029
$1600     10801
$2000     11243
$1200     11331
$1000     19539
$600      20377
$200      30455
$800      31860
$400      42244
dtype: int64